<app-barra-superior></app-barra-superior>

<div class="container my-4">
  <!-- Título de la página -->
  <h2 class="text-center">Votantes del punto {{ punto?.nombre }}</h2>

  <!-- Barra de búsqueda -->
  <input
    class="w-25"
    type="text"
    placeholder="Buscar por nombre o cédula"
    [(ngModel)]="busqueda"
    (input)="filtrarUsuarios()"
  />

  <!-- Pestañas para grupos de usuarios -->
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let grupo of gruposUsuarios">
      <a class="nav-link" (click)="cambiarGrupo(grupo)">{{ grupo.nombre }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="cambiarGrupo(null)">Todos</a>
    </li>
  </ul>

  <!-- Lista de usuarios con checkbox -->
  <div class="list-group mt-3">
    <div class="list-group-item">
      <input
        type="checkbox"
        [(ngModel)]="todosSeleccionados"
        [disabled]="punto.sesion.estado === false"
        (change)="toggleSeleccionarTodosUsuarios()"
      />
      Seleccionar todos
    </div>
    <div *ngFor="let usuario of usuariosFiltrados">
      <div class="list-group-item">
        <input
          type="checkbox"
          [(ngModel)]="usuario.seleccionado"
          [disabled]="punto.sesion.estado === false"
          (change)="actualizarSeleccion(usuario)"
        />
        {{ usuario.cedula }} - {{ usuario.nombre }}
      </div>
    </div>
    <div *ngIf="usuariosFiltrados.length === 0" class="list-group-item">
      No se encontraron usuarios.
    </div>
  </div>

  <!-- Usuarios seleccionados -->
  <div class="mt-3">
    <h5>Usuarios Seleccionados</h5>
    <ul>
      <li *ngFor="let usuario of usuariosSeleccionados">
        <input
          type="checkbox"
          [(ngModel)]="usuario.seleccionado"
          [disabled]="punto.sesion.estado === false"
          (change)="actualizarSeleccion(usuario)"
        />
        {{ usuario.cedula }} - {{ usuario.nombre }} ({{
          usuario.grupoUsuario.nombre
        }})
      </li>
    </ul>
  </div>

  <div class="my-3" *ngIf="punto.sesion.estado === true">
    <label for="selectPunto" class="form-label"
      >Agregar listado a otros puntos:</label
    >
    <div class="custom-select">
      <div class="selected-items">
        <span
          *ngFor="let puntoSeleccionado of puntosSeleccionados"
          class="selected-item"
        >
          {{ puntoSeleccionado.nombre }}
          <span class="close" (click)="removeSelectedOption(puntoSeleccionado)"
            >x</span
          >
        </span>
      </div>
      <div class="select-arrow" (click)="showOptions = !showOptions">
        <span class="arrow-icon">{{ showOptions ? "▲" : "▼" }}</span>
      </div>
      <div class="options" *ngIf="showOptions">
        <!-- Seleccionar todo -->
        <div class="option" (click)="toggleSelectAllPuntos()">
          Seleccionar todos
          <span class="checkmark" *ngIf="allPuntosSelected">✔</span>
        </div>

        <!-- Lista de puntos -->
        <div
          *ngFor="let option of puntos"
          (click)="toggleOption(option)"
          class="option"
        >
          {{ option.nombre }}
          <span class="checkmark" *ngIf="puntosSeleccionados.includes(option)"
            >✔</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Botón de confirmar -->

  <button class="btn btn-secondary my-3" (click)="goBack()">Cancelar</button>

  <button
    class="btn btn-secondary my-3 mx-3"
    [disabled]="punto.sesion.estado === false"
    (click)="confirmarSeleccion()"
  >
    Confirmar
  </button>
</div>
