
.back-button {
    /*background-color: transparent;
    border: 1px solid black;*/
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.points-container {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.points-table {
    width: 100%;
    border-collapse: collapse;
}

.points-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; 
    vertical-align: middle; 
}

.point-name {
    width: 30%; 
}

.btn-container {
    width: 35%; 
}

.btn, .buttons-container .btn-secondary {
    width: 100%; 
    padding: 12px;
    text-align: center;
    width: max-content; 
    padding: 8px 15px; 
    white-space: nowrap;
    min-width: 150px; 
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* añade un espacio entre la tabla y los botones */
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}
