select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.back-button {
  /*background-color: transparent;
      border: 1px solid black;*/
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}

/* Agrega este estilo en tu archivo CSS (resultados.component.css) */

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th, .results-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.results-table th {
  background-color: #f2f2f2;
}

.results-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.results-table tr:hover {
  background-color: #f2f2f2;
}

.total-row {
  font-weight: bold;
  background-color: #f2f2f2; /* Mismo color que la cabecera */
}
